# Build outputs
securefm
build/
*.o
*.d
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Temporary/compiler files
*.gch
*.pch
*.ilk
*.map
*.exp
*.la
*.lo
*.ko
*.obj
*.elf
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Local runtime/test data
.securefm/
*.sfm
*.enc

# macOS/editor noise
.DS_Store
*.swp
*~
